* {
  padding: 0px;
  overflow-x: hidden;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar { 
    display: none;
}

.button {
  cursor: pointer;
  &:hover {
    fill: white; 
  }
}

.defs {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.music-video, .video-cover {
  position: fixed; 
  width: 100vw; 
  height: 100vh;
  overflow: hidden;
}

.video-cover img {
  z-index: -100;
/*  max-width: 100vw;
  max-height: 100vh;*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#video {
  width: 100%; 
  height: 100%;
}

.buttons {
  z-index: 100;
}

.buttons {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
}

.buttons, .button {
  width: 26vh;
  height: 26vh;
}

#c-play {
  mix-blend-mode : exclusion;
}

