body {
  margin: 0;
  font-family: Helvetica, "Arial Black", sans-serif;
  background-color: #99a249;
  font-size: 16px;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-weight: 800;
}

.container, .center-fill {
  width: 100vw;
  height: 100vh;
}
#c{
  display: block;
  width: 90vw;
  height: 50vw;
  position: absolute;
  top: 18%;
  left: 70%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1000;
}

.center-image {
  display: block;
  width: 70vw;
  height: 70vw;
  position: absolute;
  top: 50%;
  left: 50%;
}

.center-image-top {
  transform: translateX(-50%) translateY(-100%);
  z-index: 11
}
.center-image-bottom {
  transform: translateX(-50%) translateY(-50%);
  z-index: 8
}

.glow-text {
    animation: glow 3s infinite alternate;
    transition-duration: 1.5s all;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #ffff88, 2px 2px 1px rgba(0,0,0,.5);
  }

  50% {
    text-shadow: 0 0 25px #ffff88, 2px 2px 1px rgba(0,0,0,.5);
  }

  100% {
    text-shadow: 0 0 10px #ffff88, 2px 2px 1px rgba(0,0,0,.5);
  }
}

.text {
  z-index: 100;
}

.yaeji {
  position: absolute;
  z-index: 100;
  right: 40%;
  top: 10px;
  transform: translateX(50%);
}

.one-more {
  position: absolute;
  z-index: 100;
  left: 10%;
  bottom: 20%;
}

.listen {
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 15%;
}

.listen p {
  position: absolute;
  top: 50%;
  right: 50%;
}

.korean-onemore {
  position: absolute;
  top: 0;
  right: 0;
  width: 27%;
  height: auto;
  z-index: 3000;
}


#lineCanvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.mobile-listen {
  z-index: 1000;
  position: absolute;
  bottom: 2em;
  left: 2em;
  width: 40vw;
  height: 20vw;
}

.listen-bg {
  z-index: 100;
  background: #ddd;
  mix-blend-mode: luminosity;
  border-radius: 50%;
}

.mobile-listen-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
}


@media only screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }

  .yaeji {
    top: 30px;
  }

  .one-more {
    left: 5%;
    bottom: 15%;
  }

  .listen {
    top: 50%;
    right: 3.5%;
  }
}

